In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("./data/tracks_by_artist_and_album_since_2013.csv")

In [3]:
data.head()

  artist                           album                      track
0   T.I.  Trouble Man: Heavy Is The Head           The Introduction
1   T.I.  Trouble Man: Heavy Is The Head   G Season (Ft. Meek Mill)
2   T.I.  Trouble Man: Heavy Is The Head          Trap Back Jumping
3   T.I.  Trouble Man: Heavy Is The Head  Wildside (Ft. A$AP Rocky)
4   T.I.  Trouble Man: Heavy Is The Head       Ball (Ft. Lil Wayne)

In [4]:
aggregate = data.groupby(["artist"]).agg("count")
aggregate.reset_index(inplace=True)
aggregate = aggregate[["artist", "track"]]
aggregate.head()

                             artist  track
0                          2 Chainz     70
1                         21 Savage     14
2          21 Savage & Metro Boomin      0
3  21 Savage, Offset & Metro Boomin      0
4                              2Pac     26

In [5]:
aggregate[aggregate["track"] > 10].shape

(229, 2)

In [6]:
aggregate[aggregate["track"] > 20].shape

(100, 2)

In [8]:
artists_with_at_least_20_tracks = aggregate[aggregate["track"] > 20]

In [10]:
for artist in artists_with_at_least_20_tracks["artist"]:
    print(artist)

2 Chainz
2Pac
A$AP Ferg
A$AP Mob
A$AP Rocky
Andy Mineo
Atmosphere
B.o.B
Big Sean
Blu
Boosie BadAzz
BrockHampton
Brotha Lynch Hung
Cardi B
Chief Keef
Colt Ford
Common
DJ Khaled
Danny Brown
Dave East
Derek Minor
Dizzy Wright
Drake
E-40
Earl Sweatshirt
Eminem
Fetty Wap
French Montana
Future
G-Eazy
Gucci Mane
Hopsin
Iggy Azalea
Isaiah Rashad
J. Cole
JAY-Z
Jay Rock
Jeezy
Joe Budden
Joey Bada$$
Kanye West
Kendrick Lamar
Kevin Gates
Kid Cudi
Kid Ink
Kodak Black
Lecrae
Lil Dicky
Lil Uzi Vert
Lil Wayne
Lil Yachty
Logic
Lupe Fiasco
Mac Miller
Machine Gun Kelly
Meek Mill
Migos
Mike Stud
Mobb Deep
Moneybagg Yo
NAV
NF
Nas
Nicki Minaj
Pharoahe Monch
Pink Guy
Pitbull
Playboi Carti
Post Malone
Pusha T
Rae Sremmurd
Rick Ross
Rittz
Run The Jewels
Russ
ScHoolboy Q
Snoop Dogg
Starbomb
Swollen Members
T.I.
Tech N9ne
Tech N9ne Collabos
The Game
The Lacs
Tory Lanez
Travis Scott
Trip Lee
Tyler, The Creator
Upchurch
Various Artists
Vince Staples
Wale
Watsky
Wisin
Wiz Khalifa
YG
Yo Gotti
Young Thug
YoungBoy Never Broke Again
Z-Ro

In [11]:
# Definitely exclude the following
# * Tech N9ne Collabos
# * DJ Khaled

In [12]:
artists_with_at_least_20_tracks = artists_with_at_least_20_tracks[~artists_with_at_least_20_tracks["artist"].isin(["Tech N9ne Collabos", "DJ Khaled"])]

In [13]:
artists_with_at_least_20_tracks

                         artist  track
0                      2 Chainz     70
4                          2Pac     26
10                    A$AP Ferg     50
11                     A$AP Mob     30
12                   A$AP Rocky     54
19                   Andy Mineo     31
24                   Atmosphere     49
28                        B.o.B     35
36                     Big Sean     53
41                          Blu     21
44                Boosie BadAzz     94
46                 BrockHampton     30
47            Brotha Lynch Hung     22
50                      Cardi B     31
52                   Chief Keef     32
58                    Colt Ford     37
59                       Common     31
68                  Danny Brown     36
70                    Dave East     31
75                  Derek Minor     30
80                 Dizzy Wright     29
84                        Drake    136
87                         E-40     32
88              Earl Sweatshirt     30
89                       Eminem    105
95                    Fetty Wap     22
100              French Montana     40
102                      Future    120
106                      G-Eazy     57
109                  Gucci Mane     77
..                          ...    ...
209                     Pusha T     28
212                Rae Sremmurd     30
218                   Rick Ross     94
220                       Rittz     68
222              Run The Jewels     34
223                        Russ     21
227                 ScHoolboy Q     45
236                  Snoop Dogg     22
241                    Starbomb     27
247             Swollen Members     26
248                        T.I.     40
251                   Tech N9ne     89
256                    The Game     94
257                    The Lacs     41
264                  Tory Lanez     50
265                Travis Scott     47
267                    Trip Lee     26
275          Tyler, The Creator     48
276                    Upchurch     29
277             Various Artists     94
279               Vince Staples     29
280                        Wale     53
281                      Watsky     33
284                       Wisin     43
285                 Wiz Khalifa     89
290                          YG     53
293                    Yo Gotti     54
298                  Young Thug     58
299  YoungBoy Never Broke Again     55
300                        Z-Ro     30

[98 rows x 2 columns]

In [14]:
artists_with_at_least_20_tracks.to_csv("./data/artists_with_at_least_20_tracks.csv", index=False)