In [1]:
import pandas as pd

In [4]:
albums_with_release_date = pd.read_csv("./data/albums_with_release_date.csv")

In [5]:
albums_with_release_date.head()

                          album release_date
0                    ColleGrove   2016-03-03
1       Based On A T.R.U. Story   2012-08-14
2         B.O.A.T.S. II #METIME   2013-01-01
3  Pretty Girls Like Trap Music   2017-06-16
4                       Testing   2018-05-25

In [7]:
albums_with_release_date.shape

(179, 2)

In [8]:
albums_with_release_date["release_year"] = albums_with_release_date["release_date"].apply(lambda data: data.split("-")[0])

In [9]:
albums_with_release_date.head()

                          album release_date release_year
0                    ColleGrove   2016-03-03         2016
1       Based On A T.R.U. Story   2012-08-14         2012
2         B.O.A.T.S. II #METIME   2013-01-01         2013
3  Pretty Girls Like Trap Music   2017-06-16         2017
4                       Testing   2018-05-25         2018

In [12]:
albums_with_release_date.groupby('release_year').agg('count')

              album  release_date
release_year
1967              1             1
1988              1             1
1994              1             1
1995              1             1
1999              1             1
2000              1             1
2002              1             1
2005              1             1
2006              1             1
2008              1             1
2011              3             3
2012              7             7
2013             17            17
2014             23            23
2015             21            21
2016             35            35
2017             28            28
2018             35            35

In [14]:
sample_tracks_by_artists_since_2013 = pd.read_csv("./data/sample_tracks_by_artists_since_2013.csv")

In [15]:
sample_tracks_by_artists_since_2013.head()

     artist                    album          track
0  2 Chainz               ColleGrove    Not Invited
1  2 Chainz  Based On A T.R.U. Story  Money Machine
2  2 Chainz               ColleGrove     MF'N Right
3  2 Chainz               ColleGrove     100 Joints
4  2 Chainz  Based On A T.R.U. Story  I'm Different